.Row {
  display: grid;
  grid-template-columns: 160px auto;
  padding: 6px 0;
  width: 100%;

  & .Title {
    font-weight: bold;
    padding: 5px;
    width: 160px;
  }

  & .Content {
    padding: 5px;
  }
}
